body {
    background-color: #FFE500;
}

.container {
  display: flex;
  flex-direction: column;
}

.infos:hover {

  box-shadow: 0 0 20px yellow;
  animation: color-change 2s infinite;
}

@keyframes color-change {
  0% {
    box-shadow: 0 0 20px black;
  }
  50% {
    box-shadow: 0 0 20px yellow;
  }
  100% {
    box-shadow: 0 0 20px black;
  }
}

.container div {
  margin: 10px;
}

.container ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container li {
    margin: 3px;
    margin-left: 0px;
}

.nome_lanche {
    font-weight: bold;
    font-size: 3ex;
    max-width: 170px;
}

.preco {
    font-weight: bold;
    font-size: 2.5ex;
}

.descricao {
    font-size: small;
}

.infos {
    display: flex;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.imagem {
    margin: 0px;
    padding: 0px;
    border-style: none;
}

.imagem img {
    border-style: none;
    height: 125px;
    width: 125px;
    border-radius: 5px;
    margin: 0px;
}

.texto {
    width: 100%;
    padding: 5px;
}