<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename="css/style.css")}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sauce Burguer</title>

</head>
<body style="background-color: #c0ad00;">

    <div class="overlay">
        <label for="toggle"></label>
    </div>
    
    <input type="checkbox" id="toggle" name="toggle">
    <div class="verticalNav">
        <a href="/">Página Inicial</a>
        <a href="/gerenciar">Gerenciar produtos</a>
        <a href="/adicionar">Adicionar novo produto</a>
    </div>
    
    <center><h1>Carrinho</h1></center>
    <div class="container">
    {% for produto in carrinho %}
    <div class="infos">
        <div class="texto">
        <ul>
    <li class="nome_lanche">{{produto.nome}}</li>
    <li class="descricao">{{produto.descricao[:110]}}</li>
    <li class="preco">R$ {{ "%.2f" % produto.preco }}</li>
        </ul>
        <a href="/carrinho/remover/{{produto.id}}">Remover do carrinho</a>
        </div>
        <div class="imagem">
    <img src="{{produto.url_imagem}}" />
        </div>
    </div>
    {% endfor %}
    <center><h1>TOTAL: R$ {{"%.2f" % preco_total }}</h1></center>
    <div class="mesa">
        <form method="post" action="/carrinho/enviar">
            <input type="number" placeholder="MESA" id="mesa" name="mesa" required/></center><br />
            <input type="submit" style="font-size: 2.5rem;">
        </form>
    </div>
</div>
</body>
</html>