<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename="css/style.css")}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sauce Burguer</title>

</head>
<body>
    {% include 'header.html' %}

<div class="container">
    <div class="topo">
        {%if cliente%}Você está atendendo: {{cliente.nome}}{%endif%}
        <h3>Você está atendendo a mesa: {{mesa}}</h3>
            <p class="mesa_sair"><a href="/selecao">Mudar a mesa</a></p>
            <h1>🍔 Hamburgueres 🍔</h1>
    </div>
    {% for lanche in lanches %}
    <div class="infos">
        <div class="texto">
        <ul>
    <li class="nome_lanche">{{lanche.nome}}</li>
    <li class="descricao">{{lanche.descricao[:110]}}</li>
    <li class="preco">R$ {{ "%.2f" % lanche.preco }}</li>
        </ul><br>
        <p class="links"><a href="/carrinho/adicionar/{{lanche.id}}"><i class="fas fa-shopping-cart"></i><i class="fas fa-plus"></i> Adicionar ao carrinho</a></p>
        </div>
        <div class="imagem">
    <img src="{{lanche.url_imagem}}" />
        </div>
    </div>
    {% endfor %}
    <h1 style="width: 100%;">🥤 Bebidas 🥤</h1>
    {% for bebida in bebidas %}
    <div class="infos">
        <div class="texto">
        <ul>
    <li class="nome_lanche">{{bebida.nome}}</li>
    <li class="descricao">{{bebida.descricao[:110]}}</li>
    <li class="preco">R$ {{ "%.2f" % bebida.preco }}</li>
        </ul>
        <p class="links"><a href="/carrinho/adicionar/{{bebida.id}}"><i class="fas fa-shopping-cart"></i><i class="fas fa-plus"></i> Adicionar ao carrinho</a></p>
        </div>
        <div class="imagem">
    <img src="{{bebida.url_imagem}}" />
        </div>
    </div>
    {% endfor %}
</div>
</body>
</html>